// global imports
@import "utilities/utilities";

// global styles
html, body {
    background-color: $white;
    color: $grey;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: 1.5;
    margin: 0;

    // Better font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // box sizing
    * {
        box-sizing: border-box;
    }
}
